.button {
    -fx-font-veight: bold;
    -fx-background-color: #000080;
    -fx-font-size: 17;
    -fx-text-fill: white;
}

.button:hover {
    -fx-font-veight: bold;
    -fx-background-color: #0000FF;
    -fx-font-size: 17;
    -fx-text-fill: white;
}

.button: pressed {
    -fx-font-veight: bold;
    -fx-background-color: #0000FF;
    -fx-font-size: 17;
    -fx-text-fill: white;
    -fx-border-color: #0000FF;
}
